@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>Choose where to go:</p>

    <a asp-controller="Forms" asp-action="Index" class="btn btn-primary">Go to Forms Page</a>
</div>
